.popup__button_close {
  width: 41px;
  height: 41px;
  position: absolute;
  top: -33px;
  right: -33px;
  padding: 5px;
  background-color: transparent;
  background-image: url(../../../../image/buttons/Close-Icon.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__button_close:hover {
  opacity: .6;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

@media screen and (max-width : 600px) {
  .popup__button_close {
    top: -5px;
    right: -5px;
    background-image: url(../../../../image/buttons/Close-Icon-dark.png);
  }
}

@media screen and (max-width : 382px) {
  .popup__button_close {
    width: 31px;
    height: 31px;
  }
}
