.like-button {
  width: 20px;
  height: 18px;
  background-color: #fff;
  background-image: url('../../image/buttons/like.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  margin: 0;
}

.like-button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: .6;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.like-button:active, .like-button:focus {
  outline: none;
}
