@import url('./__avatar/profile__avatar.css');
@import url('./__info/profile__info.css');
@import url('./__info-header/profile__info-header.css');
@import url('./__title/profile__title.css');
@import url('./__subtitle/profile__subtitle.css');

.profile {
  margin: 0 auto;
  max-width: 882px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 30px 552px 30px 150px;
  grid-template-columns: 120px 552px 150px;
  grid-gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width : 900px) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
