.edit-button {
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../image/buttons/Edit-Button.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: auto;
  margin-left: 17px;
}

.edit-button:hover {
  opacity: .6;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

@media screen and (max-width : 600px) {
  .edit-button {
    min-width: 18px;
    min-height: 18px;
    margin: auto 0;
    margin-left: 12px;
  }
}
