.add-button {
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #000;
  background-image: url(../../image/buttons/Add-Button.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.add-button:hover {
  opacity: .6;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

@media screen and (max-width : 900px) {
  .add-button {
    margin: 36px auto 0;
    width: 282px;
    background-image: url(../../image/buttons/Add-Button-xl.png);
  }
}
