.logo {
  max-width: 141.01px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

@media screen and (max-width : 900px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width : 600px) {
  .logo {
    max-width: 103.74px;
  }
}
