.profile__avatar {
  max-width: 120px;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
}
